* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.bg {
  display: flex;
  background-color: #2c2d2f;
}

.nav__simplebar {
  background-color: #17181b;
  max-width: 200px;
  height: 100vh;
  color: #777;
  position: relative;
}

.nav__simplebar__image-container {
  position: relative;
}

.nav__simplebar__image-container img {
  height: 200px;
  width: 200px;
}
.nav__simplebar__header-name {
  background-color: rgba(0, 163, 225, 0.4);
  position: absolute;
  font-size: 18px;
  top: 165px;
  color: white;
  padding: 7px 19px;
}

.nav__simplebar__navbar li {
  min-height: 45px;
  font-size: 13px;
  text-align: center;
  padding-top: 15px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

.nav__simplebar__footer {
  position: absolute;
  bottom: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 1.2;
  left: 23px;
}

.nav__simplebar__navbar a {
  text-decoration: none;
  color: #777;
}

.focus {
  color: white !important;
}

.quotebox {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quotebox__inputtext {
  display: flex;
  background-color: white;
  width: 450px;
  height: auto;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}

.green {
  background-color: green;
  color: white;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
}

.yellow {
  background-color: yellow;
  color: brown;
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.blue {
  background-color: blue;
  color: yellow;
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.orange {
  background-color: orange;
  color: black;
  font-size: 17px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  margin: 10px 5px 0px 5px;
}

.heroconverter {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 10px;
  background-color: rgb(110, 112, 113);
}

.hero > * {
  margin: 0px 10px;
}

input {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

select {
  border: none;
  outline: none;
  cursor: pointer;
}

span {
  padding-right: 50px;
}

.btn {
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: none;
  position: relative;
  padding: 0px 10px;
  box-sizing: content-box;
}

.maths {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.maths > div {
  display: flex;
  width: 30%;
  justify-content: space-between;
  padding: 5px;
}

.magicbox {
  display: flex;
  width: 100%;
  margin-top: 30px;
  justify-content: start;
  align-items: center;
  color: white;
  border: none;
  outline: none;
  padding: 5px;
  flex-direction: column;
}

textarea {
  width: 613px;
  height: 298px;
}

.buttons button {
  height: 60px;
  width: 60px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  margin: 10px 5px 0px 5px;
}

.buttons {
  display: flex;
}
